/*动画持续时间*/
.animate_duration1{
    animate-duration: 1s;
}
.animate_duration2{
    animate-duration: 2s;
}
.animate_duration3{
    animate-duration: 3s;
}
.animate_duration4{
    animate-duration: 4s;
}
.animate_duration5{
    animate-duration: 5s;
}
.animate_duration6{
    animate-duration: 6s;
}
.animate_duration7{
    animate-duration: 7s;
}
.animate_duration8{
    animate-duration: 8s;
}
.animate_duration9{
    animate-duration: 9s;
}
.animate_duration10{
    animate-duration: 10s;
}
.animate_duration11{
    animate-duration: 11s;
}
.animate_duration12{
    animate-duration: 12s;
}
.animate_duration13{
    animate-duration: 13s;
}
.animate_duration14{
    animate-duration: 14s;
}
.animate_duration15{
    animate-duration: 15s;
}
.animate_duration16{
    animate-duration: 16s;
}
.animate_duration17{
    animate-duration: 17s;
}
.animate_duration18{
    animate-duration: 18s;
}
.animate_duration19{
    animate-duration: 19s;
}
.animate_duration20{
    animate-duration: 20s;
}
/*动画延时时间*/
.animate_delay1{
    animate-delay: 1s;
}
.animate_delay2{
    animate-delay: 2s;
}
.animate_delay3{
    animate-delay: 3s;
}
.animate_delay4{
    animate-delay: 4s;
}
.animate_delay5{
    animate-delay: 5s;
}
.animate_delay6{
    animate-delay: 6s;
}
.animate_delay7{
    animate-delay: 7s;
}
.animate_delay8{
    animate-delay: 8s;
}
.animate_delay9{
    animate-delay: 9s;
}
.animate_delay10{
    animate-delay: 10s;
}
.animate_delay11{
    animate-delay: 11s;
}
.animate_delay12{
    animate-delay: 12s;
}
.animate_delay13{
    animate-delay: 13s;
}
.animate_delay14{
    animate-delay: 14s;
}
.animate_delay15{
    animate-delay: 15s;
}
.animate_delay16{
    animate-delay: 16s;
}
.animate_delay17{
    animate-delay: 17s;
}
.animate_delay18{
    animate-delay: 18s;
}
.animate_delay19{
    animate-delay: 19s;
}
.animate_delay20{
    animate-delay: 20s;
}
/*动画执行次数*/
.animate_times1{
    animate-iteration-count: 1;
}
.animate_times2{
    animate-iteration-count: 2;
}
.animate_times3{
    animate-iteration-count: 3;
}
.animate_times4{
    animate-iteration-count: 4;
}
.animate_times5{
    animate-iteration-count: 5;
}
.animate_times6{
    animate-iteration-count: 6;
}
.animate_times7{
    animate-iteration-count: 7;
}
.animate_times8{
    animate-iteration-count: 8;
}
.animate_times9{
    animate-iteration-count: 9;
}
.animate_times10{
    animate-iteration-count: 10;
}
var.animate_times11{
    animate-iteration-count: 11;
}
.animate_times12{
    animate-iteration-count: 12;
}
.animate_times13{
    animate-iteration-count: 13;
}
.animate_times14{
    animate-iteration-count: 14;
}
.animate_times15{
    animate-iteration-count: 15;
}
.animate_times16{
    animate-iteration-count: 16;
}
.animate_times17{
    animate-iteration-count: 17;
}
.animate_times18{
    animate-iteration-count: 18;
}
.animate_times19{
    animate-iteration-count: 19;
}
.animate_times20{
    animate-iteration-count: 20;
}